# Dependencies
node_modules/

# Turborepo
.turbo/

# Next.js (apps/web)
.next/
out/
build/

# NestJS (apps/api)
dist/

# Prisma (packages/database)
# 独自の型生成先（generated/client）もGit管理から外します
packages/database/generated/

# Environment variables
.env
.env.*
!.env.example

# OS / Logs
.DS_Store
*.log